{% extends '_base.html' %}
{%- block title %}TLMA RFM ANALYSIS{%- endblock %}

{% block js_custom %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}


{% block content %}
<main role="main" class="container">

	<blockquote class="blockquote">
		<p class="mb-0">RETAIL EXPRESS RFM ANALYSIS</p>
		<footer class="blockquote-footer">for merchandise</footer>
	</blockquote>


	<form method="post"  enctype="multipart/form-data" class="form-inline">
			<div class="form-group mx-sm-3 mb-2">
				<input type="file" name="file" class="form-control" id="exampleFormControlInput1">
			</div>
			<input type="submit" value="UPLOAD THIS FILE" class="btn btn-primary mb-2">
	</form>


	<hr />
	<div class="alert alert-primary" role="alert">EXISTING VALID UPLOADS : </div>

	<div class="list-group">
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
		{% for category, message in messages %}
			{% if category == 'error' %}
			<div class="alert alert-danger" role="alert">{{ message }}</div>
			{% elif category == 'warning' %}
			<div class="alert alert-warning" role="alert">{{ message }}</div>
			{% elif category == 'success' %}
			<div class="alert alert-success" role="alert">{{ message }}</div>
			{% else  %}
			<div class="alert alert-primary" role="alert">{{ message }}</div>
			{% endif %}
		{% endfor %}
	{% endif %}
	{% endwith %}
	</div>

	<div class="list-group">
		{% if files %}
		{% for file in files %}
		<a href="{{ url_for('show_result_single', filename= file | fname) }}" class="list-group-item list-group-item-action">
				<strong class="d-block text-gray-dark">File No.{{ loop.index }}</strong>
				<small class="text-muted">{{ file | fname }}</small>
		</a >
		{% endfor %}
		{% endif %}
	</div>





</main>





<!--<div class="row">-->
  <!--<form method="post" enctype="multipart/form-data" class="col s12">-->

    <!--<div class="file-field input-field">-->

			<!--<div class="row">-->

				<!--<div class="btn waves-effect waves-light">-->
					<!--<span>CHOOSE A FILE</span>-->
					<!--<input type="file" name="file">-->
				<!--</div>-->

				<!--<div class="file-path-wrapper">-->
					<!--<input class="file-path validate" type="text">-->
				<!--</div>-->

			<!--</div>-->

			<!--<div class="row">-->
				<!--<button class="btn waves-effect waves-light" type="submit" value="Upload">UPLOAD THIS FILE-->
					<!--<i class="material-icons right">cloud_upload</i>-->
				<!--</button>-->
			<!--</div>-->

			<!--<blockquote><h5>Describe CSV</h5></blockquote>-->

			<!--<div class="row">-->
				<!--<div class="input-field col s6">-->
          <!--<input placeholder="click to pick" id="first_name" type="text" class="datepicker">-->
          <!--<label for="first_name">Report Start Date</label>-->
        <!--</div>-->
				<!--<div class="input-field col s6">-->
          <!--<input placeholder="click to pick" id="first_name" type="text" class="datepicker">-->
          <!--<label for="first_name">Report End Date</label>-->
        <!--</div>-->
      <!--</div>-->
			<!---->

    <!--</div>-->

  <!--</form>-->
<!--</div>-->



{% endblock %}